* {
  font-family: "open Sans", sans-serif;
  text-align: center;
  color: rgb(57, 57, 57);
}

body{
  padding: 5%;
  background: rgb(81, 155, 216);
}

h1,
h2,
p,
li,
h3 {
  color: white !important;
}

img {
  max-width: 65%;
  border-image: round;
}

.foothome {
  margin-top: 20px;
  margin-left: 87%;
}

ul{
  padding-left: 0;
}

.nav li,
h2 {
  list-style: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 15px;
  font-size: 18px;
}

h3 {
  font-weight:600
}


#top {
  text-transform: uppercase
}

.top {
  margin: 16px 0;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
color: orange;
}

.profile-pic {
  padding-top: 50px;
}

.title {
 font-size: 30px;
}
.skills{
  list-style: none;
  font-size: 24px;
}

.portfolio-container {
  padding-top: 10%;
  
}

#portfolio {
  padding: 40px;
}

.projectproj {
  padding-bottom: 25px;
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border-top: solid rgb(89, 88, 89) 1px;
  margin-top: 100px;
}

.nav-footer {
display: none
}

/* Skills Page */
    
li {
  padding: 15px;
  font-size: 24px;
  list-style: none;
 }

@media screen and (min-width: 768px) {


  
    .nav {
      width: 335px;
      display: flex;
      margin: auto;
     width: fit-content;
    }
    
  img {
    transition-duration: .5s
  }
  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
  }
  
  .profile-pic {
    padding-top: 0;
    width: 44%;
    height: 100%;
  }
  
  .bio {
    width: 55%;
    padding-right: 25px;
    text-align: left;
    margin-top: 0;
    font-size: 1.25em;
  }
  
  .projectproj
  {
  float: left;
  width: 45%;
  margin: auto;
  }
  
  
  .projectproj img {
  max-width: 100%;
  }
  
  .portfolio-text {
    padding: 0 25px;
  }
  
  .contact-container {
    max-width: 75%;
    margin: auto;
  }
  
  .projectproj.pro-1{
    margin: 0 50px 0 0
  }
  
  .projectproj.pro-3{
    margin: 0 50px 0 0
  }
  
  .projectproj.pro-5{
    margin: 0 50px 0 0
  }
  
  .contact-text {
    margin-bottom: 50px;
  }
  
  .top {
    display: none
  }
  
  .nav-footer {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
  }
  
  .nav-footer li{
   list-style: none;
    padding-left: 20px;
  }
  .name {
    font-size: 21px;
    margin-top: 28px;
  }
  img:hover {
    transform: scale(1.1)
   }
  
  
  }
@media screen and (min-width: 1024px) {

  .nav {
    margin: initial;
    align-items: center;
  }
  .bio {
    font-size: 1.75em;
  }
  
  .portfolio-container {
  margin-bottom: 100px;
    }
  
  .project:nth-child(even) {
    margin-right: initial;
  }
  
  .projectproj {
    margin-right: 5%;
  }
  
  .projectproj{
    width: 30%;
  }
  
  .projectproj img {
    max-width: 100%;
  }
  
  contact-container {
    max-width: 50%;
    margin-top: -12%;
}
  
  .gotit {
    display: flex;
    margin-left: 41px;
  }
  .gotit2 {
    display: flex;
    margin-left: 41px;
  }
}
   



